@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
--color-white:#ffffff;
--color-white-light:#f7f7f7;
--input-bg:#EFEFEF;
--form-text:#B1B1B1;
--color-primary:#A11A2E;
--color-full-black:#000000;
--color-black:#1E1E1E;
--color-gray:#CACACA;
--color-gray-dark:#828282;
--color-black-light:#C8C8C8; 
--switch-border-color:#707070;
--switch-bg:#D6D7D9; 
--color-blue-dark:#0074DD;

--color-blue-light:#0074DD; 
--color-yellow:#fff03d;
--color-black:#000000;
--color-dark:#4A4A4A;


--color-yellow:#fff041;
--color-orenge:#f49606;
--color-red:#e83d2f; 
--color-pink:#d31d84;

--font-primary: 'Poppins', sans-serif;
}


